* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: 500;
  color: #BC9A6C;
}

.father {
  display: flex;


  justify-content: space-around;
  flex-direction: row;
}

.child1 {
  width: 100px;
  height: 100px;
  background-color: #BC9A6C;
}

.child2 {
  width: 100px;
  height: 100px;
  background-color: red;
}

.child3 {
  width: 100px;
  height: 100px;
  background-color: blue;
}